h1{
    text-align:center;
    text-shadow: 2px 2px black;
    color: white;
}

h2{
    text-align:center;
    padding: 30px;
    color: white;
}

p{
    text-align:center;
    color: white;
}

body {
    background-color: rgba(24, 24, 24, 0.8);
}