html, body {
  height: 100%;
  }
body {
  background: rgba(24, 24, 24, 0.7);
  height: 100%;
}
canvas {
  background: rgba(73, 57, 37, 0.7);
  text-align:center;
  margin-left: 39%;
  margin-right: 39%;
  top: 150px;
  left: 35%;
}
:root {
  --apple: rgb(255, 0, 0);
  --snake: rgb(0, 128, 38);
}
#score {
  color:black;
}
#high {
  color:black;
}
#btn_stop {
  color:black;
  position:absolute;
  bottom: 50px;
  right: 43%;
}
#end_msg {
  color:black;
  position:relative;
}
button {
  border-radius: 20px;
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}
h1 {
  font-size: 40px;
  padding:15px;
}
img {
  padding: 15px;
}
h2 {
  padding: 15px;
  text-align: center;
}
h3, h4 {
  padding: 15px;
}
table ul {
  padding: 30px;
}

.newcss {
  display: flex;
  padding: 25px;
  border-radius: 10px;
  background-color: rgba(24, 24, 24, 0.7);
  margin-left: 50px;
  margin-right: 50px;
}

.newscore {
  flex: 4;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  border-radius: 15px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}